@import url('https://fonts.googleapis.com/css2?family=Abel&family=Acme&family=Anton&family=Bebas+Neue&family=Courgette&family=Dongle:wght@700&family=Fira+Sans&family=Francois+One&family=IBM+Plex+Mono&family=Inter:wght@400;500&family=Lobster&family=Quintessential&family=Qwitcher+Grypen:wght@700&family=Roboto+Slab:wght@400;500;600&family=Rubik:wght@400;600&family=Source+Sans+Pro:wght@300;600&family=Source+Serif+4:wght@400;600&family=Teko:wght@300&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    transition: all 0.1 ease;
}
body{
    background: rgb(230, 230, 230);
}
#main{
    max-width: 1200px;
    margin: 0 auto;
}
img{
    background-origin: border-box;
}

/* +++++++++++ navigation ++++++++++++++ */
#up-bar{
    flex-basis: 1400px;
    display: flex;
    justify-content: space-between;
    background: gray;
}
#up-bar .col-5{
    display: flex;
    margin: 0 5%;
    font-family: 'Rubik', sans-serif;
}
#up-bar .col-5 li{
    display: flex;
    white-space: nowrap;
    align-items: center;
    list-style: none;
    margin: 1%;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
#up-bar .col-5 li a{
    color: rgb(240, 240, 240);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bolder;
}
#up-bar .col-5 li .col-icon{
    color: rgb(240, 240, 240);
    font-size: 20px;
    margin: 0 15px;
    font-weight: bolder;
}
#up-bar .col-5 .data{
    border: 1px solid white;
    padding: 0 2%;
    color: black;
}
#up-bar .col-5 .data i{
    margin-left: 5%;
}
#up-bar .col-5 li a:hover{
    color: rgb(250, 102, 102);
}
#up-bar .col-5 li .col-icon .fa-instagram:hover{
    color: rgb(224, 45, 69);
}
#up-bar .col-5 li .col-icon .fa-twitter:hover{
    color: rgb(14, 123, 212);
}
#up-bar .col-5 li .col-icon .fa-facebook:hover{
    color: rgb(36, 59, 189);
}
#up-bar .col-5 li .col-icon .fa-linkedin:hover{
    color: rgb(150, 0, 0);
}
#up-bar .col-5 li .col-icon .fa-envelope:hover{
    color: rgb(0, 0, 0);
}
#up-bar .col-5 li .col-icon .fa-telegram:hover{
    color: rgb(112, 179, 255);
}
/* +++++++++++ finish top nav ++++++++++++++ */

/* +++++++++++ start middel nav ++++++++++++++ */
#bar-logo{
    overflow: hidden;
    border: 1px solid rgb(218, 218, 218);
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid salmon;
}
#bar-logo img{
    height: 18vh;
    width: 100%;
    object-fit: cover;
}
#bar-logo .col-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
#bar-logo .col-7{
    display: flex;
    width: 60%;
}

/* +++++++++++ emd middel nav ++++++++++++++ */
/* +++++++++++ start footer nav ++++++++++++++ */
nav{
    background-color: rgb(39, 39, 39);
    height: 41px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}
nav .col-4{
    width: 50%;
}
nav .col-4 .list{
    display: flex;
    height: 30px;
    margin: auto 0;
}
nav .col-4 .list li{
    list-style-type: none;   
}
nav .col-4 .list li a{
    text-decoration: none;
    position: relative;
    display: flex;
    padding: 0.6rem 15px;
    margin: 0 5px;
    font-size: 19px;
    color: rgb(212, 212, 212);
    
}
nav .col-4 .list li .title::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: rgb(255, 255, 255);
    top: 35px;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}
nav .col-4 .list li .title:hover::after{
    width: 100%;
}
nav .col-4 .list li .title:hover :nth-child(1){
    transform: rotate(180deg);
    transition: all 0.3s;
}
nav .col-4 .list .dropdwon .title .fa-angle-down{
    margin: 0 9px;
}
nav .col-4 .list .dropdwon{
    position: relative;
    display: inline-block;
}

nav .col-4 .list .dropdwon .drop{
    z-index: 1;
    position: absolute;
    background-color: gray;
    width: 100%;
    display: none;
}
nav .col-4 .list .dropdwon:hover .drop{
    display: block;
}
nav .col-4 .list .dropdwon .drop a{
    display: block;
    padding: 10px 10%;
    margin: 0 ;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Teko', sans-serif;
    font-size: 17px;
    font-weight: 700;
}
nav .col-4 .list .dropdwon .drop a:hover{
    background-color: gainsboro;
    color: black;
}

nav .col-6{
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}
nav .col-6 .time{
    margin: 0 40px;
    white-space: nowrap;
}
nav .col-6 .search-box{
    margin-left: 2%;
    position: relative;
    width: 50%;
}
nav .col-6 .search-box .text-fine{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid gray;
    width: 100%;
}
nav .col-6 .search-box .text-fine::placeholder{
    font-size: 17px;
    padding-right: 10px;
}
nav .col-6 .search-box .fine-label{
    position: absolute;
    left: 5px;
    top: 4px;
    z-index: 1;
    color: rgb(56, 56, 56);
    border-right: 1px solid gray;
    padding-right: 5px;
}

