@import url('https://fonts.googleapis.com/css2?family=Abel&family=Acme&family=Anton&family=Bebas+Neue&family=Courgette&family=Dongle:wght@700&family=Fira+Sans&family=Francois+One&family=IBM+Plex+Mono&family=Inter:wght@400;500&family=Lobster&family=Quintessential&family=Qwitcher+Grypen:wght@700&family=Roboto+Slab:wght@400;500;600&family=Rubik:wght@400;600&family=Source+Sans+Pro:wght@300;600&family=Source+Serif+4:wght@400;600&family=Teko:wght@300&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    transition: all 0.1 ease;
}
@font-face {
    font-family: 'iranfont';
    src: url('../font/BRoya.eot');
    src: url('../font/BRoya.woff') format('woff');
    }
body{
    background: rgb(250, 247, 247);
    font-family: 'iranfont';
}
#main{
    max-width: 1200px;
    margin: 0 auto;
}

/* +++++++++++ navigation ++++++++++++++ */
#up-bar{
    flex-basis: 1400px;
    display: flex;
    justify-content: space-between;
    background: gray;
}
#up-bar .col-5{
    display: flex;
    margin: 0 5%;
    font-family: 'Rubik', sans-serif;
}
#up-bar .col-5 li{
    display: flex;
    white-space: nowrap;
    align-items: center;
    list-style: none;
    margin: 1%;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
#up-bar .col-5 li a{
    color: rgb(240, 240, 240);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bolder;
}
#up-bar .col-5 li .col-icon{
    color: rgb(240, 240, 240);
    font-size: 20px;
    margin: 0 15px;
    font-weight: bolder;
}
#up-bar .col-5 .data{
    border: 1px solid white;
    padding: 0 2%;
    color: black;
}
#up-bar .col-5 .data i{
    margin-left: 5%;
}
#up-bar .col-5 li a:hover{
    color: rgb(250, 102, 102);
}
#up-bar .col-5 li .col-icon .fa-instagram:hover{
    color: rgb(224, 45, 69);
}
#up-bar .col-5 li .col-icon .fa-twitter:hover{
    color: rgb(14, 123, 212);
}
#up-bar .col-5 li .col-icon .fa-facebook:hover{
    color: rgb(36, 59, 189);
}
#up-bar .col-5 li .col-icon .fa-linkedin:hover{
    color: rgb(150, 0, 0);
}
#up-bar .col-5 li .col-icon .fa-envelope:hover{
    color: rgb(0, 0, 0);
}
#up-bar .col-5 li .col-icon .fa-telegram:hover{
    color: rgb(112, 179, 255);
}
/* +++++++++++ finish top nav ++++++++++++++ */

/* +++++++++++ start middel nav ++++++++++++++ */
#bar-logo{
    overflow: hidden;
    border: 1px solid rgb(218, 218, 218);
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid salmon;
}
#bar-logo .nav-logo{
    height: 18vh;
    width: 100%;
    object-fit: cover;
}
#bar-logo .col-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
#bar-logo .col-7{
    display: flex;
    width: 60%;
}

/* +++++++++++ emd middel nav ++++++++++++++ */
/* +++++++++++ start foot nav ++++++++++++++ */
nav{
    background-color: rgb(39, 39, 39);
    height: 41px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    z-index: 10;
    top: 0;
}
nav .col-4{
    width: 50%;
}
nav .col-4 .list{
    display: flex;
    height: 30px;
    margin: auto 0;
}
nav .col-4 .list li{
    list-style-type: none;   
}
nav .col-4 .list li a{
    text-decoration: none;
    position: relative;
    display: flex;
    padding: 0.6rem 15px;
    margin: 0 5px;
    font-size: 19px;
    color: rgb(212, 212, 212);
    
}
nav .col-4 .list li .title::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: rgb(255, 255, 255);
    top: 35px;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}
nav .col-4 .list li .title:hover::after{
    width: 100%;
}
nav .col-4 .list li .title:hover :nth-child(1){
    transform: rotate(180deg);
    transition: all 0.3s;
}
nav .col-4 .list .dropdwon .title .fa-angle-down{
    margin: 0 9px;
}
nav .col-4 .list .dropdwon{
    position: relative;
    display: inline-block;
}

nav .col-4 .list .dropdwon .drop{
    z-index: 999;
    position: absolute;
    background-color: gray;
    width: 100%;
    display: none;
}
nav .col-4 .list .dropdwon:hover .drop{
    display: block;
    z-index: 999;
}
nav .col-4 .list .dropdwon .drop a{
    display: block;
    padding: 10px 10%;
    margin: 0 ;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Teko', sans-serif;
    font-size: 17px;
    font-weight: 700;
}
nav .col-4 .list .dropdwon .drop a:hover{
    background-color: gainsboro;
    color: black;
}

nav .col-6{
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}
nav .col-6 .time{
    margin: 0 40px;
    white-space: nowrap;
}
nav .col-6 .search-box{
    margin-left: 2%;
    position: relative;
    width: 50%;
}
nav .col-6 .search-box .text-fine{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid gray;
    width: 100%;
}
nav .col-6 .search-box .text-fine::placeholder{
    font-size: 17px;
    padding-right: 10px;
}
nav .col-6 .search-box .fine-label{
    position: absolute;
    left: 5px;
    top: 4px;
    z-index: 1;
    color: rgb(56, 56, 56);
    border-right: 1px solid gray;
    padding-right: 5px;
}
/* +++++++++++ start body-2 ++++++++++++++ */
.body-2{
    width: 100%;
    margin: 10% auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.body-2 img{
    width: 20%;
    height: 50px;
    object-fit: ;
    cursor: pointer;
}
.body-2 .col-3{
    width: 33%;
}
.body-2 .col-3 h1{
    background-color: rgb(8, 8, 8);
    color: white;
    font-size: 1.2em;
    text-align: center;
}
.body-2 .col-3 .column-1{
    width: 100%;
    z-index: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.body-2 .col-3 .column-1:hover h3{
    right: 0;
}
.body-2 .col-3 .column-1:hover img{
    opacity: 0.5;
}

.body-2 .col-3 .column-1 h3{
    position: absolute;
    top:70%;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgba(56, 56, 56, 0.8);
    padding-right: 5%;
    text-align: center;
    right: 100%;
    transition: all 0.4s ease;
}
.body-2 .col-3 .column-1 img{
    width: 100%;
    height: 250px;
}
.body-2 .col-3 .column-2{
    display: flex;
    background: rgba(128, 128, 128, 0.3);
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}
.body-2 .col-3 .column-2 img{
    width: 50%;
    height: 100px;
}
.body-2 .col-3 .column-2 .text-body-2{
    width: 60%;
    height: 100%;
    margin: 0 5%;
}
.body-2 .col-3 .column-2 .text-body-2 h4{
    margin-bottom: 10%;
    font-size: 0.9rem;
}
/* +++++++++++ start footer ++++++++++++++ */
footer{
    margin-top: 10%;
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 100%;
}
footer .col-3-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
}
footer .img-footer{
    overflow: hidden;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
footer .col-3-footer .img-fo{
    width: 10%;
    height: 100%;
    object-fit: cover;
}
footer .col-3-footer .pargraph{
    width: 80%;
    font-size: 1em;
    text-align: center;
    color: white;
}
footer .contact-footer{
    display: flex;
    flex-direction: row;
    margin: 2% 0;
}
footer .contact-footer .cont{
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    color: white;
    white-space: nowrap;
}
footer .contact-footer .cont i{
    margin: 0 10px;
    font-size: 1.7em;
    line-height: 17px;
}
footer .media-footer{
    flex-direction: row;
    margin: 10px 0;
}
footer .media-footer a{
    margin: 0 1%;
    color: white;
    font-size: 1.5em;
    transition: all 0.5s;
}
footer .media-footer a:hover{
    color: rgb(0, 126, 199);
    transform: scale(1.1);
}
footer .footer-botton{
    width: 100%;
    background-color: red;
    text-align: center;
    padding: 10px 0;
} 