@import url('https://fonts.googleapis.com/css2?family=Abel&family=Acme&family=Anton&family=Bebas+Neue&family=Courgette&family=Dongle:wght@700&family=Fira+Sans&family=Francois+One&family=IBM+Plex+Mono&family=Inter:wght@400;500&family=Lobster&family=Quintessential&family=Qwitcher+Grypen:wght@700&family=Roboto+Slab:wght@400;500;600&family=Rubik:wght@400;600&family=Source+Sans+Pro:wght@300;600&family=Source+Serif+4:wght@400;600&family=Teko:wght@300&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    transition: all 0.1 ease;
}
@font-face {
    font-family: 'iranfont';
    src: url('../font/BRoya.eot');
    src: url('../font/BRoya.woff') format('woff');
    }
body{
    background: rgb(250, 247, 247);
    font-family: 'iranfont';
}
#main{
    width: 80%;
    margin: 0 auto;
}

/* +++++++++++ navigation ++++++++++++++ */
#up-bar{
    display: flex;
    justify-content: space-between;
    background: gray;
}
#up-bar .col-5{
    display: flex;
    margin: 0 5%;
    font-family: 'Rubik', sans-serif;
}
#up-bar .col-5 li{
    display: flex;
    white-space: nowrap;
    align-items: center;
    list-style: none;
    margin: 1%;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
#up-bar .col-5 li a{
    color: rgb(240, 240, 240);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bolder;
}
#up-bar .col-5 li .col-icon{
    color: rgb(240, 240, 240);
    font-size: 20px;
    margin: 0 15px;
    font-weight: bolder;
}
#up-bar .col-5 .data{
    border: 1px solid white;
    padding: 0 2%;
    color: black;
}
#up-bar .col-5 .data i{
    margin-left: 5%;
}
#up-bar .col-5 li a:hover{
    color: rgb(250, 102, 102);
}
#up-bar .col-5 li .col-icon .fa-instagram:hover{
    color: rgb(224, 45, 69);
}
#up-bar .col-5 li .col-icon .fa-twitter:hover{
    color: rgb(14, 123, 212);
}
#up-bar .col-5 li .col-icon .fa-facebook:hover{
    color: rgb(36, 59, 189);
}
#up-bar .col-5 li .col-icon .fa-linkedin:hover{
    color: rgb(150, 0, 0);
}
#up-bar .col-5 li .col-icon .fa-envelope:hover{
    color: rgb(0, 0, 0);
}
#up-bar .col-5 li .col-icon .fa-telegram:hover{
    color: rgb(112, 179, 255);
}
/* +++++++++++ finish top nav ++++++++++++++ */

/* +++++++++++ start middel nav ++++++++++++++ */
#bar-logo{
    overflow: hidden;
    border: 1px solid rgb(218, 218, 218);
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid salmon;
    background-color: black;
}
#bar-logo .nav-logo{
    height: 18vh;
    width: 100%;
    object-fit: cover;
}
#bar-logo .col-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
#bar-logo .col-7{
    display: flex;
    width: 60%;
}

/* +++++++++++ emd middel nav ++++++++++++++ */
/* +++++++++++ start foot nav ++++++++++++++ */
nav{
    background-color: rgb(39, 39, 39);
    height: 50px;
    width: 100%;
    box-shadow: 1px 2px 20px gray;
    display: flex;
    justify-content: space-around;
    position: sticky;
    z-index: 10;
    top: 0;
}
nav .col-4{
    width: 50%;
}
nav .col-4 .list{
    display: flex;
    height: 100%;
    margin: auto 0;
}
nav .col-4 .list li{
    list-style-type: none;   
}
nav .col-4 .list li a{
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.6rem 15px;
    margin: 0 5px;
    font-size: 19px;
    color: rgb(212, 212, 212);
    
}
nav .col-4 .list li .title::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: rgb(255, 255, 255);
    top: 35px;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}
nav .col-4 .list li .title:hover::after{
    width: 100%;
}
nav .col-4 .list li .title:hover :nth-child(1){
    transform: rotate(180deg);
    transition: all 0.3s;
}
nav .col-4 .list .dropdwon .title .fa-angle-down{
    margin: 0 9px;
}
nav .col-4 .list .dropdwon{
    position: relative;
    display: inline-block;
}

nav .col-4 .list .dropdwon .drop{
    z-index: 999;
    position: absolute;
    background-color: rgb(53, 53, 53);
    width: 100%;
    display: none;
}
nav .col-4 .list .dropdwon:hover .drop{
    display: block;
    z-index: 999;
}
nav .col-4 .list .dropdwon .drop a{
    display: block;
    padding: 5% 10%;
    margin: 0;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Teko', sans-serif;
    font-size: 17px;
    font-weight: 700;
}
nav .col-4 .list .dropdwon .drop a:hover{
    background-color: gainsboro;
    color: black;
}
nav .col-6{
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}
nav .col-6 .time{
    margin: 0 40px;
    white-space: nowrap;
}
nav .col-6 .search-box{
    margin-left: 2%;
    position: relative;
    width: 50%;
}
nav .col-6 .search-box .text-fine{
    padding: 8px;
    border-radius: 2px;
    border: 1px solid gray;
    width: 100%;
}
nav .col-6 .search-box .text-fine::placeholder{
    font-size: 17px;
    padding-right: 10px;
}
nav .col-6 .search-box .fine-label{
    position: absolute;
    left: 5px;
    top: 3px;
    z-index: 1;
    color: rgb(56, 56, 56);
    border-right: 1px solid gray;
    padding-right: 5px;
}
/* +++++++++++ start body-1 ++++++++++++++ */
#body-1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-top: 3%;
}
#body-1 .slide-continer-1{
    width: 50%;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    border: 3px solid black;
    margin-right: 1%;
}
#body-1 .slide-continer-1 .slider-img-1{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: -1;
}
#body-1 .slide-continer-1 .slider-img-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#body-1 .slide-continer-1 .slider-img-1 .txt-1{
    position: absolute;
    bottom: 14%;
    padding: 3% 9%;
    font-weight: bolder;
    color: rgb(255, 0, 0);
    font-size: 1.5em;
    font-weight: 1000;
    background: rgba(0, 0, 0, 0.9);
}
#body-1 .slide-continer-1 input[type="radio"]{
    display: none;
}
#body-1 .slide-continer-1 .slider-img-1 .pre,.next{
    position: absolute;
    top: 10px;
    font-size: 1.2em;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: rgba(190, 190, 190, 0.8);
    transition:all 0.5s ease;
    cursor: pointer;
}
#body-1 .slide-continer-1 .slider-img-1 .next:hover{
    transform: scale(1.1);
}
#body-1 .slide-continer-1 .slider-img-1 .pre:hover{
    transform: scale(1.1);
}
#body-1 .slide-continer-1 .slider-img-1 .pre {
    left: 40%;
}
#body-1 .slide-continer-1 .slider-img-1 .next{
    right: 40%;
}
#images1:checked ~ #one{
    z-index: 9;
    opacity: 1;
}

#images2:checked ~ #two{
    z-index: 9;
    opacity: 1;
}

#images3:checked ~ #three{
    z-index: 9;
    opacity: 1;
}

/* +++++++++++++++++++++++++++++++++ */

.left-body-1{
    width: 45%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -1%;
}
.left-body-1 .small-card{
    width: 45%;
    height: 200px;
    margin: 1% 1% 1% 0;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid black;
    border-radius: 2px;
    position: relative;
}
.left-body-1 .small-card:hover{
    transform: scale(1.1);
}
.left-body-1 .small-card img{
    width: 100%;
    height: 100%;
}
.left-body-1 .small-card .card-text{
    background-color: rgba(48, 46, 43, 0.7);
    width: 100%;
    position: absolute;
    color: white;
    bottom: 15px;
    text-align: center;
}

/* +++++++++++ end body-1 ++++++++++++++ */

/* +++++++++++ start body-main ++++++++++++++ */

#main-body{
    position: relative;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}
#main-body .hot-title{
    position: absolute;
    top: 0;
    color: white;
    font-size: 1.2rem;
    padding: 0 15px;
    font-weight: 700;
    background-color: rgba(27, 27, 27, 0.9);
}
#main-body .right-main{
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-top: 3%;
}
#main-body .right-top{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#main-body .right-top .box-news{
    width: 33%;
    height: auto;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
    margin: 2% 0;
}
#main-body .right-top .box-news img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease;
    background-color: black;
    overflow: hidden;
    cursor: pointer;
}
#main-body .right-top .box-news img:hover{
    transform: scaleX(1.1);
    background-color: black;
    color: black;
    opacity: 0.7;
}
#main-body .right-top .box-news .text-box{
    color: white;
    text-align: center;
    margin-top: -10px;
    height: 100%;
    padding: 1%;
    background-color: rgb(102, 163, 163);
}
#main-body .right-top .box-news .text-box h1{ 
    width: 100%;
    background-color: rgb(14, 61, 61);
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-body .right-top .box-news .text-box a{
    background-color: rgb(167, 48, 48);
    text-decoration: none;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    color: white;
    transition: all 0.4s ease;
    padding: 0 5%;
    border-radius: 2px;
}
#main-body .right-top .box-news .text-box a:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
/* ++++++++++++++++++++ under ++++++++++++++++++++ */

.right-undre .continer-box{
    display: flex;
    border: 2px solid black;
    height: 200px;
    width: 90%;
    margin: 3%;
}
.right-undre .continer-box .imgas-1{
    width: 30%;
    height: 100%;
}
.right-undre .continer-box .imgas-1 img{
    width: 100%;
    height: 100%;
}
.right-undre .continer-box .under-text{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
} 
/* ++++++++++++++++++ left ++++++++++++++++++ */

.left-min{
    width: 29%;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid black;
    padding:0 1%;
}
.left-min .contienr-media{
    margin-top: 10%;
    height: auto;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 10%;
}
.left-min .contienr-media h1{
    width: 100%;
    text-align: center;
    background-color: rgb(14, 61, 61);
    font-size: 1.3em;
    color: white;
}
.left-min .contienr-media .main-media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #cfd9df;
    height: 150px;
    flex-wrap: wrap;
}
.left-min .contienr-media .main-media li{
    list-style-type: none;
    width: 30%;
    height: 40%;
    overflow: hidden;
    padding-top: 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(187, 167, 167);
}
.left-min .contienr-media .main-media li:hover a{
    transform: scale(1.4);
}
.left-min .contienr-media .main-media li a{
    font-size: 1.5em;
    transition: all 0.1s ease;
    color: rgb(255, 255, 255);
}
.left-min .left-hot{
    background-color: rgb(205, 235, 235);
    border-top: 1px solid black;
    position: relative;
    padding: 20% 5%;
}
.left-min .left-hot h1{
    position: absolute;
    top: 0;
    color: white;
    font-size: 1.2rem;
    padding: 0 15px;
    font-weight: 700;
    background-color: rgba(27, 27, 27, 0.9);
}
.left-min .left-hot .cont-hot{
    padding: 1% 5%;
}
.left-min .left-hot .cont-hot li{
    margin: 1% 0;
    padding: 4% 0;
}
.left-min .left-hot .cont-hot li a{
    text-decoration: none;
    color: black;
}
.left-min .left-hot .cont-hot li a:hover{
    color: blue;
}
/* +++++++++++ end body-main ++++++++++++++ */

/* +++++++++++ start body-2 ++++++++++++++ */

#body-2{
    background: linear-gradient(to right, #cfd9df, #e2ebf0);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 6% auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    box-shadow: 5px 5px 27px rgb(0, 0, 0);
    border-radius: 2px;
}
#body-2 img{
    width: 20%;
    height: 70px;
    cursor: pointer;
}
#body-2 .col-3{
    width: 33%;
}
#body-2 .col-3 h1{
    background-color: rgb(8, 8, 8);
    color: white;
    font-size: 1.2em;
    text-align: center;
}
#body-2 .col-3 .column-1{
    width: 100%;
    z-index: 0;
    height: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#body-2 .col-3 .column-1:hover h3{
    right: 0;
}
#body-2 .col-3 .column-1:hover img{
    opacity: 0.5;
}
#body-2 .col-3 .column-1 h3{
    position: absolute;
    top:70%;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgba(56, 56, 56, 0.8);
    padding-right: 5%;
    text-align: center;
    right: 100%;
    transition: all 0.4s ease;
}
#body-2 .col-3 .column-1 img{
    width: 100%;
    height: 250px;
}
#body-2 .col-3 .column-2{
    display: flex;
    background: rgba(128, 128, 128, 0.3);
    margin: 10px 1%;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
#body-2 .col-3 .column-2 img{
    width: 50%;
    height: 100px;
    border-radius: 10px;
}
#body-2 .col-3 .column-2 .text-body-2{
    width: 60%;
    height: 100%;
    margin: 0 5%;
}
#body-2 .col-3 .column-2 .text-body-2 h4{
    margin-bottom: 10%;
    font-size: 0.9rem;
}
/* +++++++++++ end body-2 ++++++++++++++ */

/* +++++++++++ start adv ++++++++++++++ */
#adv{
    width: 100%;
    height: 180px;
    margin: -7% auto;
    background-color: rgb(20, 12, 12);
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}
#adv .slide-fa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}
#adv .slide-fa .slide-ch{
    width: 40%;
    background: rgb(53, 53, 53);
    margin: 0 2%;
    height: 100%;
}
#adv .slide-fa .slide-ch:nth-child(1){
    background-color: aqua;
}
#adv .slide-fa .slide-ch:nth-child(2){
    background-color: rgb(226, 33, 65);
}
#adv .slide-fa .slide-ch img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* +++++++++++ end adv ++++++++++++++ */

/* +++++++++++ start body3 ++++++++++++++ */
#body-3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#body-3 .col-8 .up-right .slide-body3 img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 4px;
}
#body-3 .col-8 .up-right .slide-body3 img:hover{
    transform: scale(1.1);
    opacity: 0.5;
}
#body-3 .col-8{
    width: 70%;
    height: 100%;
    border-left: 1px solid black;
    padding: 10px 10px 50px;
}
#body-3 .col-8 .up-continer{
    background-color: black;
    height: 450px;
    overflow: hidden;
    position: relative;
    box-shadow: 6px 5px 25px rgb(53, 53, 53);
    border-radius: 4px;
}
#body-3 .col-8 .up-right{
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    transition: all 1s ease;
}
#body-3 .col-8 .up-right .slide-body3{
    min-width: 100%;
    min-height: 450px;
    height: auto;
    overflow: hidden;
}
#body-3 .col-8 .up-right .slide-body3 .title-body3{
    position: absolute;
    width: 100%;
    top: 75%;
}
#body-3 .col-8 .up-right .slide-body3 .title-body3 .title-slide{
    color: white;
    font-size: 2.5rem;
    padding-right: 5%;
    font-weight: 700;
    background-color: rgba(27, 27, 27, 0.5);
}
#body-3 .col-8 .up-right .slide-body3 .title-body3 .slide-text3{
    color: white;
    font-size: 1rem;
    padding-right: 5%;
    font-weight: 700;
    background-color: rgba(27, 27, 27, 0.5);
}
/* +++++++++++++++++++++++++++ */
#body-3 .down-right{
    width: 100%;
    margin-top: 1%;
    border: 1px solid rgb(94, 94, 94);
    padding: 5% 1% 1%;
    height: 115vh;
    overflow: auto;
    background: linear-gradient(to right, #cfd9df, #e2ebf0);
}
#body-3 .title-discr{
    background-color: rgb(63, 62, 65);
    z-index: 1;
    margin: 4% 40% 0% 0%;
    padding: 0 1%;
    text-align: center;
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 50px;
}
#body-3 .down-right .discr-body3 .img-discr img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    cursor: pointer;
}
#body-3 .down-right .discr-body3 .img-discr img:hover{
    transform: scale(1.1);
}
#body-3 .down-right .discr-body3 .img-discr{
    width: 30%;
    overflow: hidden;
    box-shadow: 5px 5px 10px gray;
    border-left: 1px solid rgb(59, 59, 59);
}
#body-3 .down-right .discr-body3{
    background: linear-gradient(to left, #bedfde, #637776);
    display: flex;
    border: 1px solid rgb(33, 33, 48);
    box-shadow: 5px 5px 10px gray;
    margin: 2% 0;
}
#body-3 .down-right .discr-body3 .down-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
}
#body-3 .down-right .discr-body3 .down-text h1{
    text-align: center;
    order: 2;
    color: white;
    font-size: 1.4em;
    width: 100%;
}
#body-3 .down-right .discr-body3 .down-text h4{
    background-color: red;
    width: 10vw;
    text-align: center;
    margin: 1% 0;
    font-size: 1rem;
}
#body-3 .down-right .discr-body3 .down-text h5{
    padding-left: 5%;
    font-size: 1.2em;
    color: white;
}
#body-3 .down-right .discr-body3 .down-text a{
    background-color: rgb(167, 48, 48);
    text-decoration: none;
    width: 20%;
    font-size: 1.2em;
    text-align: center;
    color: white;
    order: 3;
    margin: 1% 75%;
    transition: all 0.2s ease;
    border-radius: 2px;
}
#body-3 .down-right .discr-body3 .down-text a:hover{
    transform: scale(1.1);
}
#body-3 .down-right .discr-body3 .down-text .down-text2{
    order: 1;
    display: flex;
    background-color: rgb(33, 99, 99);
    align-items: center;
    justify-content: space-between;
}


/* +++++++++++++++++++++++++++ */


#body-3 .body3-left{
    height: 100%;
    width: 30%;
    padding-right: 10px;
}
#body-3 .body3-left .Comment{
    position: relative;
    padding-bottom: 15%;
}
#body-3 .body3-left .Comment .comment-box{
    margin-top: 50px;
    width: 100%;
    height: 350px;
    overflow:auto;
    box-shadow: 10px 10px 20px gray;
    border: 3px solid rgb(122, 147, 161);
    border-radius: 2px;
}
#body-3 .body3-left .Comment .comment-title{
    position:absolute;
    background: rgb(53, 53, 53);
    border-radius: 1px;
    font-size: 1.1em;
    color: white;
    padding: 0 10px;
    top: -50px;
    right: 2%;
}
#body-3 .body3-left .Comment .person{
    display: flex;
    margin: 2% 0;
    background-color: rgb(231, 240, 240);
    border: 0.5px solid black;
}
#body-3 .body3-left .Comment .person img{
    width: 40%;
    height: 120px;
    object-fit: cover;
    border: 1px solid rgb(75, 87, 92);
    margin: auto;
}
#body-3 .body3-left .Comment .person .comment-text{
    padding-top: 3.5%;
    width: 70%;
    text-align: center;
}
#body-3 .body3-left .Comment .person .comment-text .name{
    text-align: center;
    padding-right: -3%;
    font-size: 1.2em;
    background: rgb(71, 136, 136);
}


/* ++++++++++++++++++++++++++++ */
#body-3 .middel-news{
    position: relative;
    border-top: 2px solid black;
}
#body-3 .middel-news .title-hotnews{
    position: absolute;
    top: 0%;
    background: rgb(53, 53, 53);
    font-size: 1.1em;
    color: white;
    padding: 0 10px;
}
#body-3 .hot-news{
    width: 100%;
    height: 290px;
    background-color: aqua;
    margin-top: 15%;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 10px 10px 30px gray;
}
#body-3 .hot-news .middel-left{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.8s ease;
}
#body-3 .hot-news .middel-left .slide-bodyleft{
    width: 100%;
    height: 100%;
    position: relative;
}
#body-3 .hot-news .middel-left .slide-bodyleft img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#body-3 .hot-news .middel-left .slide-bodyleft .title-bodyleft{
    position: absolute;
    z-index: 1;
    top: 75%;
    width: 100%;
    padding-right: 10px;
    background-color: rgba(115, 209, 7, 0.5);
}
/* +++++++++++++++++++++++ */
#body-3 .subscibe{
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 2px solid black;
    margin-top: 10%;
}
#body-3 .subscibe .title-sub{
    position: absolute;
    top: 0%;
    background: rgb(53, 53, 53);
    font-size: 1.1em;
    color: white;
    padding: 0 10px;
}
#body-3 .subscibe .sub-continer{
    margin: 10% 10px 3%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px ;
    border: 2px solid gray;
    background: rgb(71, 136, 136);
}
#body-3 .subscibe img{
    width: 100%;
    height: 30%;
    border-radius: 5px;
}
#body-3 .subscibe .sub-continer h1{
    text-align: center;
    padding: 20px;
}
#body-3 .subscibe input{
    direction: ltr;
    padding: 0 30px;
    width: 100%;
    height: 39px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid gray;
}
#body-3 .subscibe input::placeholder{
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    color: rgb(77, 76, 76);
}
#body-3 .subscibe a{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    background-color: rgb(155, 41, 41);
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    font-weight: 600;
    border-radius: 3px;
    transition: all 0.5s ease;
}
#body-3 .subscibe a:hover{
    box-shadow: 5px 5px 10px black;
}


/* +++++++++++ start footer ++++++++++++++ */
footer{
    margin-top: 10%;
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 100%;
}
footer .col-3-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
}
footer .img-footer{
    overflow: hidden;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
footer .col-3-footer .img-fo{
    width: 10%;
    height: 100%;
    object-fit: cover;
}
footer .col-3-footer .pargraph{
    width: 80%;
    font-size: 1em;
    text-align: center;
    color: white;
}
footer .contact-footer{
    display: flex;
    flex-direction: row;
    margin: 2% 0;
}
footer .contact-footer .cont{
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    color: white;
    white-space: nowrap;
}
footer .contact-footer .cont i{
    margin: 0 10px;
    font-size: 1.7em;
    line-height: 17px;
}
footer .media-footer{
    flex-direction: row;
    margin: 10px 0;
}
footer .media-footer a{
    margin: 0 1%;
    color: white;
    font-size: 1.5em;
    transition: all 0.5s;
}
footer .media-footer a:hover{
    color: rgb(40, 118, 163);
    transform: scale(1.1);
}
footer .footer-botton{
    width: 100%;
    background-color: red;
    text-align: center;
    padding: 10px 0;
} 