@import url('https://fonts.googleapis.com/css2?family=Abel&family=Acme&family=Anton&family=Bebas+Neue&family=Courgette&family=Dongle:wght@700&family=Fira+Sans&family=Francois+One&family=IBM+Plex+Mono&family=Inter:wght@400;500&family=Lobster&family=Quintessential&family=Qwitcher+Grypen:wght@700&family=Roboto+Slab:wght@400;500;600&family=Rubik:wght@400;600&family=Source+Sans+Pro:wght@300;600&family=Source+Serif+4:wght@400;600&family=Teko:wght@300&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    transition: all 0.1 ease;
}
@font-face {
    font-family: 'iranfont';
    src: url('../font/BRoya.eot');
    src: url('../font/BRoya.woff') format('woff');
    }
body{
    background: rgb(250, 247, 247);
    font-family: 'iranfont';
}
#main{
    width: 80%;
    margin: 0 auto;
}

/* +++++++++++ navigation ++++++++++++++ */
#up-bar{
    display: flex;
    justify-content: space-between;
    background: gray;
}
#up-bar .col-5{
    display: flex;
    margin: 0 5%;
    font-family: 'Rubik', sans-serif;
}
#up-bar .col-5 li{
    display: flex;
    white-space: nowrap;
    align-items: center;
    list-style: none;
    margin: 1%;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
#up-bar .col-5 li a{
    color: rgb(240, 240, 240);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bolder;
}
#up-bar .col-5 li .col-icon{
    color: rgb(240, 240, 240);
    font-size: 20px;
    margin: 0 15px;
    font-weight: bolder;
}
#up-bar .col-5 .data{
    border: 1px solid white;
    padding: 0 2%;
    color: black;
}
#up-bar .col-5 .data i{
    margin-left: 5%;
}
#up-bar .col-5 li a:hover{
    color: rgb(250, 102, 102);
}
#up-bar .col-5 li .col-icon .fa-instagram:hover{
    color: rgb(224, 45, 69);
}
#up-bar .col-5 li .col-icon .fa-twitter:hover{
    color: rgb(14, 123, 212);
}
#up-bar .col-5 li .col-icon .fa-facebook:hover{
    color: rgb(36, 59, 189);
}
#up-bar .col-5 li .col-icon .fa-linkedin:hover{
    color: rgb(150, 0, 0);
}
#up-bar .col-5 li .col-icon .fa-envelope:hover{
    color: rgb(0, 0, 0);
}
#up-bar .col-5 li .col-icon .fa-telegram:hover{
    color: rgb(112, 179, 255);
}
/* +++++++++++ finish top nav ++++++++++++++ */

/* +++++++++++ start middel nav ++++++++++++++ */
#bar-logo{
    overflow: hidden;
    border: 1px solid rgb(218, 218, 218);
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid salmon;
}
#bar-logo .nav-logo{
    height: 18vh;
    width: 100%;
    object-fit: cover;
}
#bar-logo .col-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
#bar-logo .col-7{
    display: flex;
    width: 60%;
}

/* +++++++++++ emd middel nav ++++++++++++++ */
/* +++++++++++ start foot nav ++++++++++++++ */
nav{
    background-color: rgb(39, 39, 39);
    height: 50px;
    width: 100%;
    box-shadow: 1px 2px 20px gray;
    display: flex;
    justify-content: space-around;
    position: sticky;
    z-index: 10;
    top: 0;
}
nav .col-4{
    width: 50%;
}
nav .col-4 .list{
    display: flex;
    height: 100%;
    margin: auto 0;
}
nav .col-4 .list li{
    list-style-type: none;   
}
nav .col-4 .list li a{
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.6rem 15px;
    margin: 0 5px;
    font-size: 19px;
    color: rgb(212, 212, 212);
    
}
nav .col-4 .list li .title::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: rgb(255, 255, 255);
    top: 35px;
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}
nav .col-4 .list li .title:hover::after{
    width: 100%;
}
nav .col-4 .list li .title:hover :nth-child(1){
    transform: rotate(180deg);
    transition: all 0.3s;
}
nav .col-4 .list .dropdwon .title .fa-angle-down{
    margin: 0 9px;
}
nav .col-4 .list .dropdwon{
    position: relative;
    display: inline-block;
}

nav .col-4 .list .dropdwon .drop{
    z-index: 999;
    position: absolute;
    background-color: gray;
    width: 100%;
    display: none;
}
nav .col-4 .list .dropdwon:hover .drop{
    display: block;
    z-index: 999;
}
nav .col-4 .list .dropdwon .drop a{
    display: block;
    padding: 5% 10%;
    margin: 0;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Teko', sans-serif;
    font-size: 17px;
    font-weight: 700;
}
nav .col-4 .list .dropdwon .drop a:hover{
    background-color: gainsboro;
    color: black;
}
nav .col-6{
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}
nav .col-6 .time{
    margin: 0 40px;
    white-space: nowrap;
}
nav .col-6 .search-box{
    margin-left: 2%;
    position: relative;
    width: 50%;
}
nav .col-6 .search-box .text-fine{
    padding: 8px;
    border-radius: 2px;
    border: 1px solid gray;
    width: 100%;
}
nav .col-6 .search-box .text-fine::placeholder{
    font-size: 17px;
    padding-right: 10px;
}
nav .col-6 .search-box .fine-label{
    position: absolute;
    left: 5px;
    top: 3px;
    z-index: 1;
    color: rgb(56, 56, 56);
    border-right: 1px solid gray;
    padding-right: 5px;
}
/* +++++++++++ start body-2 ++++++++++++++ */
#body-2{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1200' height='700' preserveAspectRatio='none' viewBox='0 0 1200 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1092%26quot%3b)' fill='none'%3e%3crect width='1200' height='700' x='0' y='0' fill='url(%23SvgjsLinearGradient1093)'%3e%3c/rect%3e%3cpath d='M0 0L369.47 0L0 29.61z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 29.61L369.47 0L552.49 0L0 234.87z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 234.87L552.49 0L829.28 0L0 300.76z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 300.76L829.28 0L867.3199999999999 0L0 438.53999999999996z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1200 700L1175.49 700L1200 569.38z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1200 569.38L1175.49 700L1144.43 700L1200 566.76z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1200 566.76L1144.43 700L683.6800000000001 700L1200 526.46z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1200 526.46L683.68 700L303.29999999999995 700L1200 271.97z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1092'%3e%3crect width='1200' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.42%25' y1='-17.86%25' x2='89.58%25' y2='117.86%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1093'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 156%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 10% auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    box-shadow: 5px 5px 27px rgb(0, 0, 0);
    border-radius: 2px;
}
#body-2 img{
    width: 20%;
    height: 70px;
    cursor: pointer;
}
#body-2 .col-3{
    width: 33%;
}
#body-2 .col-3 h1{
    background-color: rgb(8, 8, 8);
    color: white;
    font-size: 1.2em;
    text-align: center;
}
#body-2 .col-3 .column-1{
    width: 100%;
    z-index: 0;
    height: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#body-2 .col-3 .column-1:hover h3{
    right: 0;
}
#body-2 .col-3 .column-1:hover img{
    opacity: 0.5;
}
#body-2 .col-3 .column-1 h3{
    position: absolute;
    top:70%;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgba(56, 56, 56, 0.8);
    padding-right: 5%;
    text-align: center;
    right: 100%;
    transition: all 0.4s ease;
}
#body-2 .col-3 .column-1 img{
    width: 100%;
    height: 250px;
}
#body-2 .col-3 .column-2{
    display: flex;
    background: rgba(128, 128, 128, 0.3);
    margin: 10px 1%;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
#body-2 .col-3 .column-2 img{
    width: 50%;
    height: 100px;
    border-radius: 10px;
}
#body-2 .col-3 .column-2 .text-body-2{
    width: 60%;
    height: 100%;
    margin: 0 5%;
}
#body-2 .col-3 .column-2 .text-body-2 h4{
    margin-bottom: 10%;
    font-size: 0.9rem;
}
/* +++++++++++ end body-2 ++++++++++++++ */

/* +++++++++++ start adv ++++++++++++++ */
#adv{
    width: 100%;
    height: 180px;
    margin: -7% auto;
    background-color: rgb(20, 12, 12);
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}
#adv .slide-fa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}
#adv .slide-fa .slide-ch{
    width: 40%;
    background: rgb(53, 53, 53);
    margin: 0 2%;
    height: 100%;
}
#adv .slide-fa .slide-ch:nth-child(1){
    background-color: aqua;
}
#adv .slide-fa .slide-ch:nth-child(2){
    background-color: rgb(226, 33, 65);
}
#adv .slide-fa .slide-ch img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* +++++++++++ end adv ++++++++++++++ */

/* +++++++++++ start body3 ++++++++++++++ */
#body-3{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 10% 0;
}
#body-3 .col-8 .up-right .slide-body3 img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    transition: all 0.5s ease;
    cursor: pointer;
    border-radius: 4px;
}
#body-3 .col-8 .up-right .slide-body3 img:hover{
    transform: scale(1.1);
    opacity: 0.5;
}
#body-3 .col-8{
    width: 70%;
    height: 100%;
}
#body-3 .col-8 .up-continer{
    background-color: black;
    height: 450px;
    overflow: hidden;
    position: relative;
    box-shadow: 6px 5px 25px rgb(53, 53, 53);
    border-radius: 4px;
}
#body-3 .col-8 .up-right{
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    transition: all 1s ease;
}
#body-3 .col-8 .up-right .slide-body3{
    min-width: 100%;
    min-height: 450px;
    height: auto;
    overflow: hidden;
}
#body-3 .col-8 .up-right .slide-body3 .title-body3{
    position: absolute;
    width: 100%;
    top: 75%;
}
#body-3 .col-8 .up-right .slide-body3 .title-body3 .title-slide{
    color: white;
    font-size: 2.5rem;
    padding-right: 5%;
    font-weight: 700;
    background-color: rgba(27, 27, 27, 0.5);
}
#body-3 .col-8 .up-right .slide-body3 .title-body3 .slide-text3{
    color: white;
    font-size: 1rem;
    padding-right: 5%;
    font-weight: 700;
    background-color: rgba(27, 27, 27, 0.5);
}
/* +++++++++++++++++++++++++++ */
#body-3 .down-right{
    width: 100%;
    margin-top: 11%;
    border: 1px solid rgb(94, 94, 94);
    padding: 5% 1% 1%;
    position: relative;
    background: linear-gradient(to right, #cfd9df, #e2ebf0);
}
#body-3 .down-right .title-discr{
    background-color: rgb(63, 62, 65);
    position: absolute;
    z-index: 1;
    top: -24px;
    padding: 0 1%;
    text-align: center;
    border-radius: 5px;
    color: white;
    right: 50%;
    transform: translateX(50%);
    width: 150px;
    height: 50px;
}
#body-3 .down-right .discr-body3 .img-discr img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    cursor: pointer;
}
#body-3 .down-right .discr-body3 .img-discr img:hover{
    transform: scale(1.1);
}
#body-3 .down-right .discr-body3 .img-discr{
    width: 30%;
    overflow: hidden;
    box-shadow: 5px 5px 10px gray;
    border-left: 1px solid rgb(59, 59, 59);
}
#body-3 .down-right .discr-body3{
    background: linear-gradient(to left, #bedfde, #637776);
    display: flex;
    border: 1px solid rgb(33, 33, 48);
    box-shadow: 5px 5px 10px gray;
    margin: 2% 0;
}
#body-3 .down-right .discr-body3 .down-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
}
#body-3 .down-right .discr-body3 .down-text h1{
    text-align: center;
    order: 2;
    color: white;
    font-size: 1.4em;
    width: 100%;
}
#body-3 .down-right .discr-body3 .down-text h4{
    background-color: red;
    width: 10vw;
    text-align: center;
    margin: 1% 0;
    font-size: 1rem;
}
#body-3 .down-right .discr-body3 .down-text h5{
    padding-left: 5%;
    font-size: 1.2em;
    color: white;
}
#body-3 .down-right .discr-body3 .down-text a{
    background-color: rgb(167, 48, 48);
    text-decoration: none;
    width: 20%;
    font-size: 1.2em;
    text-align: center;
    color: white;
    order: 3;
    margin: 1% 75%;
    transition: all 0.2s ease;
    border-radius: 2px;
}
#body-3 .down-right .discr-body3 .down-text a:hover{
    transform: scale(1.1);
}
#body-3 .down-right .discr-body3 .down-text .down-text2{
    order: 1;
    display: flex;
    background-color: rgb(33, 99, 99);
    align-items: center;
    justify-content: space-between;
}



/* +++++++++++ start footer ++++++++++++++ */
footer{
    margin-top: 10%;
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 100%;
}
footer .col-3-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
}
footer .img-footer{
    overflow: hidden;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
footer .col-3-footer .img-fo{
    width: 10%;
    height: 100%;
    object-fit: cover;
}
footer .col-3-footer .pargraph{
    width: 80%;
    font-size: 1em;
    text-align: center;
    color: white;
}
footer .contact-footer{
    display: flex;
    flex-direction: row;
    margin: 2% 0;
}
footer .contact-footer .cont{
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    color: white;
    white-space: nowrap;
}
footer .contact-footer .cont i{
    margin: 0 10px;
    font-size: 1.7em;
    line-height: 17px;
}
footer .media-footer{
    flex-direction: row;
    margin: 10px 0;
}
footer .media-footer a{
    margin: 0 1%;
    color: white;
    font-size: 1.5em;
    transition: all 0.5s;
}
footer .media-footer a:hover{
    color: rgb(0, 126, 199);
    transform: scale(1.1);
}
footer .footer-botton{
    width: 100%;
    background-color: red;
    text-align: center;
    padding: 10px 0;
} 